@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.subtitle {
    font-weight: 500;
    font-size: 25.24px;
    line-height: 35.33px;
    color: #F2994A;
}

.title {
    font-weight: 600;
    font-size: 46.26px;
    line-height: 52.52px;
}

.para {
    font-weight: 300;
    font-size: 21.03px;
    line-height: 29.44px;
}

.newsletter {
    background-image: url("./images/newsletter.png");
}

.catagories .available-jobs {
    color: #828282;
}

.fa {
    color: #F2994A;
}

.catagories:hover {
    background-color: #F2994A;
    color: white;
}

.catagories:hover .fa {
    color: white;
}

.catagories:hover .available-jobs {
    color: white;
}

.form-field {
    display: inline-block;
}

.first-image-bg {
    background-image: url('./images/bg-5.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.job-vacancy {
    position: absolute;
    left: 15px;
    top: 50px;
}

.take-seconds {
    position: absolute;
    right: 20px;
    bottom: 0px;
}

.notification {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.upload-cv {
    position: absolute;
    left: 20px;
    top: 230px;
}

.hired {
    position: absolute;
    right: 40px;
    top: 180px;
}